@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

:root {
    /** Fonts */
    --title: 'Pacifico, Quicksand'
    --main-font: 'Pacifico, Quicksand'

    /* Colours */
    --background: whi
    --blue: #0d6efd;
    --black: #000;  
    --off-white: #f6f6f6#;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --small-box-shadow: 1px - 1px 7px 0 #0000061;
    -- border: 1px solid #0000030;

    /* Header */

    html, body {
        height: 100%;
    }

    .navbar {
        background-color: var(--white);
        box-shadow: var(--small-box-shadow);
    }

    body [
        display: flex;
        flex-direction: column;
        font-family: main
    ]

    h1,h2,h3,h4,h5,h6 {
        flex: 1 0 auto;
        background-color: 
    }

    main {
        flex:1 0 Auto;
        background-color: var(--white);

    }

    /* Footer */
    footer {
        flex-shrink: 0;
    }
    

    a.nav-link {
        color: var(--black)
    }
        

    img.logo {
        width: 18.75rem

    }
    



    
