@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

:root {
    /** Fonts */
    --title: 'Pacifico, Quicksand'
    --main-font: 'Pacifico, Quicksand'

    /* Colours */
    --background: 
    --blue: #0d6efd;
    --black: #000;  
    --off-white: #f6f6f6#;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --small-box-shadow: 1px - 1px 7px 0 #0000061;
    -- border: 1px solid #0000030;

    /* Header */
    background-color:
}