@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

:root {
    /** Fonts */
    --title: 'Pacifico, Quicksand'
    --main-font: 'Pacifico, Quicksand'

    /* Colours */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --small-box-shadow: 1px - 1px 7px 0 #0000061;
    -- border: 1px solid #0000030;
}

    /* Header */

    html, body {
        height: 100%;
    }

    .navbar {
        background-color: var(--white);
        box-shadow: var(--small-box-shadow);
    }

    body [
        display: flex;
        flex-direction: column;
        font-family: main
    ]

    h1,h2,h3,h4,h5,h6 {
        flex: 1 0 auto;
        background-color: 
    }

    main {
        flex:1 0 Auto;
        background-color: var(--white);
        min-height:80vh

    }  .home-background {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/dudp7r482/image/upload/f_auto/v1678298172/homebk_rvgsu0.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .box {
        width: 42%;
        margin-top: 80px;
        color: white;
        position: absolute;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 22%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        padding-top: 2%;
        padding-bottom: 2%;
    }



    /* Footer */
    footer {
        flex-shrink: 0;
        background-color: var(--off-white);
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }



    /* Social media Icons */
    
    .social-media {
        height: 2rem;
        margin: 1rem;
    }

    .facebook-round {
        height: 2rem;
        margin: 1rem;
    }

    .instagram-round {
        height: 2rem;
        margin: 1rem;
    }

    .twitter-round {
        height: 2rem;
        margin: 1rem;
    }

    .youtube-round {
        height: 2rem;
        margin: 1rem;
    }

    .linkedin-round {
        height: 2rem;
        margin: 1rem;
    }

   



    
