{% load static %}

<footer>
    <!-- Footer with social media links -->
    <p class="footer-text"> Follow us on </p>
    <div class="social-media">
        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank" aria-label="facebook">
            <img src="{% static 'icons/facebook-round.png' %}" class = "facebook-round" />
        </a>
        <a class="social-button twitter" href="https://www.twitter.com/" target="_blank" aria-label="twitter">
            <img src="{% static 'icons/instagram-round.png' %}" class = "twitter-round"   />
        </a>
        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank" aria-label="linkedin">
            <img src="{% static 'icons/linkedin-round.png' %}" class = "linkedin-round"   />
        </a>
        <a class="social-button youtube" href="https://www.youtube.com/" target="_blank" aria-label="youtube">
            <img src="{% static 'icons/twitter-round.png' %}"  class = "youtube-round"  />
            </a>
        <a class="social-button instagram" href="https://www.instagram.com/" target="_blank" aria-label="instagram">
            <img src= "{% static 'icons/youtube-round.png' %}" class = "facebook-round"   />
            </a>
    </div>
</footer>