{% load static %}

<footer>
    <!-- Footer with social media links -->
    <p class="footer-text"> Follow us on </p>
    <div class="contact-us">
        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank" aria-label="facebook"><i
                class="fa fa-facebook-square"></i></a>
        <a class="social-button twitter" href="https://www.twitter.com/" target="_blank" aria-label="twitter"><i
                class="fa fa-twitter"></i></a>
        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank" aria-label="linkedin"><i
                class="fa fa-linkedin"></i></a>
        <a class="social-button youtube" href="https://www.youtube.com/" target="_blank" aria-label="youtube"><i
                class="fa fa-youtube-play"></i></a>
        <a class="social-button instagram" href="https://www.instagram.com/" target="_blank" aria-label="instagram"><i
                class="fa fa-instagram"></i></a>
    </div>
</footer>